<nav id="mainNav" class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/dashboard"><img src="./assets/img/Go_Ball_logo.png" width="90px" class="gb-logo"></a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/dashboard">Home</a>
        </li>
        <li>
          <a href="/profilepage">Profile</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div class="container" id="db-cont">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><strong>Your Games</strong></h4> 
      <a href="/creategame"><button class="newgame-button">Create New Game</button></a>
    </div>
    <div class="panel-body">
      <ul>
        {{#each Games}}
          {{#if usergame}}

       <li class="row display-games players-joined"> 
        <div class="col-lg-6  player">
                What: {{sport}} <br/>
                Where: {{location}} <br/>
                Description: {{description}}             
                </div>              
            <div class="col-lg-6 player">

                <form action="/joinedgame" class="join-form" method="get">  <input type="hidden" name="user_id" value={{user_id}}>
                <button class="join-button" type="submit" value={{id}} name="game_id">Join Game</button></form>
                
            </div>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h5><strong>Games Around You</strong></h5></div>
      <div class="panel-body">
        <ul>
          {{#each Games}}
            {{#unless usergame}}
       <li class="row display-games players-joined"> 
        <div class="col-lg-6  player">
                
                What: {{sport}} 
                Time: {{time}}
                Where: {{location}} 
                Description: {{description}}
                </div>
                <div class="col-lg-6 player">

                <form action="/joinedgame" method="get" class="join-form">  <input type="hidden" name="user_id" value={{user_id}}>
                <button class="join-button" type="submit" value={{id}} name="game_id">Join Game</button></form>
                </div>              
                </li>
            {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
</div>

