<nav id="mainNav" class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/dashboard"><img src="./assets/img/Go_Ball_logo.png" width="90px" class="gb-logo"></a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/dashboard">Home</a>
        </li>
        <li>
          <a href="/profile">Profile</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div class="container" id="db-cont">
<div class="row">
  <div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading profile-header">
        <div class="row">
      <h2>{{firstname}}  {{lastname}}</h2> 
        </div>

        <div class="row">
        <div class="col-lg-3">

          <img class="profImg" src="{{prof_img_url}}" height="200px">
</div>
    <div class="col-lg-9">      

      <div class="row">
    <div class="col-lg-9 player-info">

      <a href="/creategame"><button class="prof-game-button">Create New Game</button></a>
      <a href="#"><button class="prof-edit-button" style="background-color: #232435; margin-left: 10px;">Edit Profile</button></a>
      <a href="/dashboard"><button class="prof-db-button" style="background-color: #1e90ff; margin-left: 10px;">Go to Dashboard</button></a>

    </div>
    </div>
      <div class="row">

            <div class=" col-lg-9 player-info">
               <strong> Email:</strong> {{email}} <br/>
               <strong> Member Since:</strong> {{createdAt}} <br/>
                <strong>Bio:</strong> {{bio}} <br/>
                </div>

      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>



      <div class="row">
        <div class="col-lg-12">
    <div class="panel-body">

      <ul>

            <li class="display-games players-joined">

                
                Name: {{firstname}}  {{lastname}} <br/>
                Email: {{email}} <br/>
                Member Since: {{createdAt}} <br/>
                Bio: {{bio}} <br/>

                <form action="/joinedgame" class="join-form" method="get">  <input type="hidden" name="user_id" value={{user_id}}>
                <button class="join-button" type="submit" name="game_id" value={{id}} >Send Message</button></form>
            </li>

      </ul>

                </div>
      </div>
    </div>
  </div>
